.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-black);
}

@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
